### JupyterNotebooks ###
.ipynb_checkpoints
*/.ipynb_checkpoints/*

### Python ###
__pycache__/

### macOS ###
.DS_Store

### CityFlow ###
###Simulation/CityFlow
replay_roadnet.json
replay.txt

### Simulation ###
*.ilp
*.lp

### Miscellaneous ###
Simulation/code_tests/
Simulation/comparison/Idle_Time/
*/Results/*
Zotero/